body {font-family: Arial, Helvetica, sans-serif;}
/*form {border: 3px solid #f1f1f1;}*/

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.sidenav {
  height: 100%;
  width: 213px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white ;
  overflow-x: hidden;
  padding-top: 20px;
}
#loading{
display:none;

    margin-left: 245px;
    margin-top: -500px;
    opacity: 0.7;
    position: absolute;
}
#loading1{
    display:none;
    position: absolute;
    margin-top: -370px;
    opacity: 0.7;
    z-index: 1;
    margin-left:30px;
}


.heading1{
  font-size: large;
    font-style: italic;
    color: black;
    background: white;
    height: fit-content;
    flex: 0 0 20%;
    max-width: 50%;
}
.heading2{
    font-size: large;
    font-style: italic;
    color: black;
    background: white;
    height: fit-content;
    flex: 0 0 29%;
    max-width: 50%;
}
.createroom input {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.selectroom{
  width: 21%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 76px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.backbtn{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  text-decoration: none;
}
.backbtn:hover{
  text-decoration: none;
  color: white;
}
#room_response{
  margin-right: 0px;
}
button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
      padding: 14px 20px;
    margin: 0px 50px 0px 50px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 40px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.logoutbtn {
  padding: 20px;
    background: green;
    color: white;
    border-radius: 5px;
}
.logoutbtn:hover {
  color: white;
  text-decoration: none;
}
.tab tr td{
      padding: 20px;
}
.box{
      box-shadow: 5px 10px 6px #888888;
    padding: 20px;
    border: 1px solid;
        background: white;
        border-radius: 50px;
}
.record tr td{
  border: 1px solid;
  padding: 7px;
}
.tablecode tr td{
  border: 1px solid;
  padding: 20px;
  text-align: center;
}
.tablecode tr th{
  border: 1px solid;
  padding: 20px;
  text-align: center;
}
.tablecode input{
      text-align: center;
      border: none;
}
.tablecode1 tr td{
  border: 1px solid;
  padding: 20px;
  text-align: center;
}
.tablecode1 tr th{
  border: 1px solid;
  padding: 20px 66.5px;
  text-align: center;
}
.tablecode1 { border-collapse: collapse;
font-size: 20px; }
.tablecode1 tr { display: block; float: left; }
.tablecode1 #top { display: block; float: none; }
/*.tablecode1 #top th{ width :142px; }*/
.tablecode1 td { display: block; }
@media print{
.date{text-align: center;}
/*.date{text-align: right;}*/

}
.dele{
      color: white;
    background: red;
    padding: 14px;
}
.dele:hover{
  text-decoration: none;
  color: white;
};